* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

html {
  font-size: 62.5%;
}

/* ************************************************
                navbar syling start 
************************************************* */
.navbar {
width: 90%;
background-color: #201658;
padding: 10px 30px;
margin: 1% 5% 0 5%;
position: fixed;
border-radius: 100px;
z-index: 999;
}

.container {
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
color:  #ffffff;
font-size: 3rem;
text-decoration: none;
}

.logo span {
color: #ffbf00;
}

.nav-list {
display: flex;
list-style: none;
}

.nav-list li {
margin-left: 20px;
}

.nav-list li a {
color: #ffffff;
font-size: 2rem;
text-decoration: none;
transition: all 0.5s ease;
}

.nav-list li a:hover {
color: #ffbf00;
}

/* ************************************************
                navbar syling end
************************************************* */

/* ************************************************
          hamburger styling start
************************************************* */
.hamburger {
display: none;
cursor: pointer;
}

.mobile-navbar-icon {
width: 30px;
height: 25px;
color: #ffffff;
}

.mobile-navbar-icon[name="close-outline"] {
display: none;
}
/* ************************************************
          hamburger styling end
************************************************* */

/* ************************************************
      home section styling start
************************************************* */
.home-section {
width: 100%;
height: 100vh;
background-color: #f5f5f5;
padding: 9% 5% 0 5%;
}

.home-container {
width: 100%;
height: 100%;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.home-container .content {
width: 48%;
height: 100%;
text-align: center;
color: #000;
}

.home-container .content h1, h2 {
font-size: 4.5rem;
}

.home-container .content h1 {
margin-top: 120px;
}

.home-container .content h1 > span {
color: #ffbf00;
text-transform: uppercase;
}

.home-container .content p {
font-size: 2rem;
color: #000;
font-weight: bold;
margin-top: 10px;
}

.home-container button {
width: 400px;
height: 40px;
font-size: 2rem;
font-weight: bold;
background-color: #ffbf00;
border: none;
color: #000;
font-weight: 700;
padding: 2px;
margin-top: 40px;
border-radius: 4px;
cursor: pointer;
transition: all 0.5s ease;
}

.home-container button:hover {
transform: scale(0.8);
}

.home-container .image {
width: 48%;
height: 100%;
}

.home-container .image img {
width: 100%;
object-fit: cover;
object-position: center;
}
/* ************************************************
      home section styling end
************************************************* */

/* ************************************************
      about us section styling start
************************************************* */
.about-us-section {
width: 100%;
height: 200vh;
}

/* about us > about start */
.about-us-container {
width: 100%;
height: 50%;
background-color: #ffffff;
padding: 9% 5% 5% 5%;
}

.about-us-container .about-container {
width: 100%;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 25px;
}

.about-container .about-content {
width: 48%;
height: 80%;
color: #000000;
border-radius: 25px;
padding: 20px;
}

.about-content h1 {
font-size: 3rem;
text-align: center;
}

.about-content h1 span {
border-bottom: 2px solid #ffbf00;
}

.about-content p {
font-size: 2.4rem;
line-height: 4rem;
margin-top: 20px;
}

.about-content p span {
color:  #FFD700;
}

.about-content .span-4 {
color: #FFFFFF;
}

.about-container .about-image {
width: 48%;
height: 80%;
background-color: peru;
border-radius: 25px;
}

.about-image img {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
border-radius: 25px;
}

/* about us > professional-container */
.professional-container {
width: 100%;
height: 50%;
background-color: #f5f5f5;
padding: 9% 5% 5% 5%;
}

.professional-container .prof-container {
width: 100%;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 25px;
}

.prof-container .prof-image {
width: 48%;
height: 100%;
border-radius: 25px 0 25px 0;
}

.prof-image img {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
border-radius: 25px 0 0 25px;
}

.prof-container .prof-content {
width: 48%;
height: 100%;
color: #000000;
border-radius: 0 25px 25px 0;
padding: 20px;
}

.prof-content h1 {
font-size: 3rem;
text-align: center;
text-transform: uppercase;
}

.prof-content h1 span {
border-bottom: 2px solid #ffbf00;
}

.prof-content ol li {
font-size: 2rem;
margin-top: 10px;
color:  #ffbf00;
margin-left: 60px;
}

.prof-content ul li {
font-size: 1.4rem;
color: #000000;
margin-left: 20px;
}
/* ************************************************
      about us section styling end
************************************************* */

/* service section styling */
.service {
  width: 100%;
  height: 100vh;
  /* background-color: blue; */
  /* background-color: #E9F1FA; */
  background-color: #E9F1FA;
  padding: 9% 5% 0 5%;
}

.service-container {
  width: 100%;
  height: 95%;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.divs {
  width: 30%;
  height: 100%;
  /* background-color: green; */
  /* background-color: #FFFFFF; */
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  text-align: center;
  border-radius: 24px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.15);
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);  */
  transition: transform 0.8s ease-in-out;
}

.divs:hover {
  transform: scale(0.9);
}

.divs img {
  width: 100%;
  height: 50%;
  margin-bottom: 20px;
  border-radius: 24px;
}

.divs img:hover {
  transform: scale(0.95);
}

.divs h1 {
  font-size: 2.6rem;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.divs h1 span {
  border-bottom: 2px solid #CCCCCC;
}

.divs p {
  font-size: 2rem;
  color: #555555;
  margin-bottom: 20px;
}

.divs a {
  font-size: 2rem;
  width: 80px;
  height: 40px;
  padding: 10px;
  text-decoration: none;
}

/* client section styling start */
.client {
  width: 100%;
  height: 100vh;
  /* background-color: red; */
  background-color: #E6F1F8;
  padding: 5% 5% 5% 5%;
}

.client-section {
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  /* align-items: center; */
}

.client-section h1 {
  font-size: 5rem;
  color: #333333;
  text-transform: uppercase;
  margin-top: 100px;
}

.client-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.client-divs {
  width: 30%;
  height: 40%;
  /* background-color: yellow; */
  background-color: #D6EAF8;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 130px;
}

.client-divs:hover {
  transform: translateY(-5px);
}

.client-divs img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* contact section styling start */
.contact-us {
  width: 100%;
  height: 100vh;
  /* background-color: #f8f9fa; */
  text-align: center;
  padding: 10%;
  /* background-color: red; */
}

.contact-container {
  max-width: 400px;
  margin: 0 auto;
  /* background-color: blue; */
  padding: 10px 20px 10px 20px;
}

.contact-container h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #333333;
}

.contact-container p {
  font-size: 1.4rem;
  /* line-height: 1.6; */
  color: #666666;
}

#contact-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}


/* Footer styling */
.footer {
  background-color: #333333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.footer h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
  /* display: flex; */
  /* justify-content: space-around; */
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer ul li {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.footer ul li a {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
}

.made-with-heart {
  margin-top: 20px;
  font-size: 1.6rem;
}

.fa-heart {
  color: red;
}